{{ ansible_managed | comment }}

{% if tomcat_environment_variables is defined %}
{% for java_opt in tomcat_environment_variables %}
{{ java_opt.name }}="{{ java_opt.value }}"
{% endfor %}
{% endif %}
{% if tomcat_java_opts is defined %}
JAVA_OPTS="{{ tomcat_java_opts }}"
{% endif %}
{% if tomcat_catalina_opts is defined %}
CATALINA_OPTS="{{ tomcat_catalina_opts }}"
{% endif %}
{% if tomcat_classpath is defined %}
CLASSPATH="{{ tomcat_classpath }}"
{% endif %}
